
h1 {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background-color: rgb(253, 173, 186);
  width: 80%;
  height: 40px;
  color: black;
  margin: 2%;
  padding: 1.5%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  border-radius: 15px;
  font-size: 1.5em;
}

h2 {
  display: flex;
  text-align: center;
  color: black;
  font-family:  'Arimo', sans-serif;
  size: 20px;
  width: %;
  height: 7%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
}

h3 {
  font-family: 'Arimo', sans-serif;
  size: 17pt;
  color: black;
  text-align: center;
  border-radius: 15px;
  padding: 6px;
  margin: 0 auto;
  
}

body {
  background-color:  rgb(184, 133, 143);
}

img {
  width: 400px;
  height: 450px;
  padding: 3%;
  align-items: center;

}

.certificate-img {
  width: 400px;
  height: 200px;
  padding: 3%;
  align-items: center;
}

.personal-image {
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.instagram-img {
  width: 300px;
  height: 650px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.medal-img {
  width: 200px;
  height: 250px;
  display: flex;
  align-items: cneter;
  margin: 0 auto;
}

.coding-img {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.yosemite-img {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.bangalore-img {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.zhenghua-img {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.woodgrove-img {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.np-img {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}


#navbar {
  width: 28%;
  position: fixed;
  height: 250px;
  display: flex;
  padding: 3px;
  justify-content: center;
  border-radius: 20px;
  background-color:rgb(149, 175, 209);
  flex-direction: column;
  left: 1%;
  top: 20%;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

.tags {
  display: block;
  color: rgb(59, 56, 56);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 13px;
}

.flex-item {
  padding: 2%;
  flex-grow: 2;
  flex-basis: 15%;
}


.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; 
  
}

p {
  font-family: 'Mukta', sans-serif;
  text-align: center;
  font-size: 10pt;
  width: 100%;
  margin: 0 auto;
  color: black;
  padding: 3%;
}

section {
  font-family: 'Mukta', sans-serif;
  color: black;
  margin: 0 auto;
  text-align: center;
  size: 4em;
}
.sectionleft {
  font-family: 'Mukta', sans-serif;
  color: black;
  margin: 0 auto;
  text-align: right;
}

.sectionright {
  font-family: 'Mukta', sans-serif;
  color: black;
  margin: 0 auto;
  text-align: right;
  margin: 0 auto;
}

ul {
  font-family: 'Arimo', sans-serif;
  text-align: center;
  size: 30%;
  color: rgb(0, 0, 0);
}

label {
  display: flex;
  justify-content: center;
  font-family: 'Mukta', sans-serif;
}

input {
  width: 500px;
  height: 25px;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  display: flex;
  justify-content: center;
 }

.topimage {
  width: 450px;
  height: 200px;
  padding: 2%;
  align-items: center;
}

.leftimage {
  width: 300px;
  height: 150px;
  padding: 3%;
  align-items: center;
}

.rightimage {
  width: 400px;
  height: 450px;
  padding: 3%;
  align-items: center;
  margin: 0 auto;
}

/* media query starts here */
	/* Small devices (landscape phones, 576px and up) */
	@media screen and (min-width: 576px) {
    p {
      font-family: 'Mukta', sans-serif;
      text-align: center;
      font-size: 10pt;
      width: 100%;
      margin: 0 auto;
      color: black;
      padding: 3%;
    }
    #navbar {
      width: 9em;
      position: fixed;
      height: 15em;
      display: flex;
      padding: 1%;
      justify-content: center;
      border-radius: 20px;
      background-color: rgb(149, 175, 209);
      flex-direction: column;
      top: 40vh;
      left: 10px;
      overflow: hidden;
    }

    .tags {
      
      display: block;
      color: rgb(59, 56, 56);
      text-align: center;
      padding: 9px;
      text-decoration: none;
      size: 7px;
    }
    
    
    .flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column; 
      
    }

    .container {
      display: flex;
      width: 25%;
      flex-wrap: wrap;
      flex-direction: column;
    }

    

    img {
      width: 300px;
      height: 350px;
      padding: 3%;
      align-items: center;

    }

    .certificate-img {
      width: 400px;
      height: 200px;
      padding: 3%;
      align-items: center;
    }

    .medal-img {
      width: 200px;
      height: 250px;
      display: flex;
      align-items: cneter;
      margin: 0 auto;
    }

    .coding-img {
      width: 100px;
      height: 50px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .zhenghua-img {
      width: 500px;
      height: 300px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .woodgrove-img {
      width: 500px;
      height: 300px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .np-img {
      width: 0px;
      height: 300px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }


    .yosemite-img {
      width: 300px;
      height: 200px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .bangalore-img {
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .flex-item {
      flex: 1 21%;
      flex-basis: 45%;
      flex-grow: 0;
      flex-direction: row;
    }

    label {
      display: flex;
      justify-content: center;
      font-family: 'Mukta', sans-serif;
    }
    
    input {
      width: 500px;
      height: 25px;
      margin: 0 auto;
      font-family: 'Arimo', sans-serif;
      display: flex;
      justify-content: center;
     }

      
    section {
      font-family: 'Mukta', sans-serif;
      color: black;
      margin: 0 auto;
      text-align: center;
      size: 4em;
    }
    .sectionleft {
      display: flex;
      font-family: 'Mukta', sans-serif;
      color: black;
      margin: 0 auto;
      text-align: center;
      align-items: center;
    }
    
    .sectionright {
      font-family: 'Mukta', sans-serif;
      color: black;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      }

    .topimage {
      width: 450px;
      height: 200px;
      padding: 2%;
      align-items: center;
    }
    
    .leftimage {
      width: 300px;
      height: 150px;
      padding: 3%;
      align-items: center;
    }
    
    .rightimage {
      width: 300px;
      height: 350px;
      padding: 3%;
      align-items: center;
      margin: 0 auto;
    }
        

      
	}

	/* Medium devices (tablets, 768px and up) */
	@media (min-width: 768px) {

    #navbar {
      width: 9em;
      position: fixed;
      height: 15em;
      display: flex;
      padding: 1%;
      justify-content: center;
      border-radius: 20px;
      background-color:rgb(149, 175, 209);
      flex-direction: column;
      top: 40vh;
      left: 10px;
      overflow: hidden;
    }

    .tags {
      float: left;
      display: block;
      color: rgb(59, 56, 56);
      text-align: center;
      padding: 10px;
      text-decoration: none;
      size: 4px;
    }
    
    .flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column; 
      
    }

    .container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
    }

    img {
      width: 300px;
      height: 350px;
      padding: 3%;
      align-items: center;

    }

    .certificate-img {
      width: 600px;
      height: 300px;
      padding: 3%;
      align-items: center;
    }

    .coding-img {
      width: 200px;
      height: 90px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }

    .zhenghua-img {
      width: 450px;
      height: 300px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .woodgrove-img {
      width: 450px;
      height: 300px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .np-img {
      width: 450px;
      height: 300px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }

    
    .yosemite-img {
      width: 300px;
      height: 200px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }

    .bangalore-img {
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .flex-item{
      display: flex;
      flex: 1 21%;
      flex-basis: 45%;
      flex-grow: 0;
      flex-direction: column;
    }
    .sectionleft {
      display: flex;
      font-family: 'Mukta', sans-serif;
      color: black;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      }
    
    .sectionright {
      font-family: 'Mukta', sans-serif;
      color: black;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      }

    .topimage {
      width: 450px;
      height: 200px;
      padding: 2%;
      align-items: center;
    }
  
    .leftimage {
      width: 300px;
      height: 150px;
      padding: 3%;
      align-items: center;
    }
  
    .rightimage {
      width: 300px;
      height: 450px;
      padding: 3%;
      align-items: center;
      margin: 0 auto;
    }

    p {
      font-family: 'Mukta', sans-serif;
      text-align: center;
      font-size: 12pt;
      width: 100%;
      margin: 0 auto;
      color: black;
      padding: 3%;
    }
      
  }
  

	/* Large devices (desktops, 992px and up) */
	@media (min-width: 992px) {

    #navbar {
      width: 9em;
      position: fixed;
      height:  17em;
      display: flex;
      padding: 3px;
      justify-content: center;
      border-radius: 20px;
      background-color: rgb(149, 175, 209);
      flex-direction: column;
      top: 40vh;
      left: 10px;
      overflow: hidden;
    }

    .tags {
      float: left;
      display: block;
      color: rgb(59, 56, 56);
      text-align: center;
      padding: 10px;
      text-decoration: none;
      size: 4px;
    }
    
    
    .flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column; 
      
    }

    .container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
    }

    img {
      width: 300px;
      height: 350px;
      padding: 3%;
      align-items: center;

    }

    .certificate-img {
      width: 600px;
      height: 300px;
      padding: 3%;
      align-items: center;
    }

    .medal-img {
      width: 300px;
      height: 400px;
      display: flex;
      align-items: cneter;
      margin: 0 auto;
    }

    .coding-img {
      width: 400px;
      height: 200px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }

    .zhenghua-img {
      width: 500px;
      height: 350px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .woodgrove-img {
      width: 500px;
      height: 300px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .np-img {
      width: 500px;
      height: 300px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    
    .yosemite-img {
      width: 600px;
      height: 400px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }

    .bangalore-img {
      width: 500px;
      height: 500px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }

    .flex-item{
      flex: 1 46%;
      flex-grow: inherit;
    }

    .flex-right {
      flex: 1 78%;
      flex-basis: 45%;
      flex-grow: 0;
    }

    .flex-left {
      flex: 1 28%;
      flex-basis: 45%;
      flex-grow: 0;
    }

    .topimage {
      
      width: 450px;
      height: 250px;
      padding: 2%;
      align-items: center;
    }

    .leftimage {
      
      width: 300px;
      height: 200px;
      padding: 3%;
      left: 30px;
    }

    .rightimage {
      width: 300px;
      height: 450px;
      padding: 3%;
      right: 30px;
    }

    p {
      font-family: 'Mukta', sans-serif;
      text-align: center;
      font-size: 15pt;
      width: 100%;
      margin: 0 auto;
      color: black;
      padding: 3%;
    }
      
  }


	/* Extra large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) {

    #navbar {
      width: 9em;
      position: fixed;
      height: 16em;
      display: flex;
      padding: 3px;
      justify-content: center;
      border-radius: 20px;
      background-color: rgb(149, 175, 209);
      flex-direction: column;
      top: 40vh;
      left: 10px;
      overflow: hidden;
    }

    .tags {
      float: left;
      display: block;
      color: rgb(59, 56, 56);
      text-align: center;
      padding: 10px;
      text-decoration: none;
      size: 4px;
    }
    
    
    .flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column; 
      
    }
    .container {
      display: flex;
      width: 100%;
      
      flex-direction: row;
    }
    
    .flex-item {
      display: flex;
      flex-basis: 45%;
      flex-grow: 0;
      flex: 1 78%;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: column;
      padding: 5px;
    }

    .flex-right {
      flex: 1 78%;
      flex-basis: 45%;
      flex-grow: 0;
    }

    .flex-left {
      flex: 1 28%;
      flex: 1 78%;
      flex-basis: 45%;
      flex-grow: 0;
      margin-left: 50%;
      
    }

    .flex-right {
      flex: 1 28%;
      flex-basis: 45%;
      flex-grow: 0;
      flex-basis: 45%;
      flex-grow: 0;
    }

    img {
      width: 400px;
      height: 150px;
      padding: 3%;
      align-items: center;
    }
    


    .h3left {
      font-family: 'Arimo', sans-serif;
      size: 17pt;
      color: black;
      text-align: left;
      border-radius: 15px;
      padding: 2%;
      
    }
    .h3right {
      font-family: 'Arimo', sans-serif;
      size: 17pt;
      color: black;
      text-align: right;
      border-radius: 15px;
      padding: 2%;
      
    }

    .topimage {
      
      width: 450px;
      height: 250px;
      padding: 2%;
      align-items: center;
    }

    .leftimage {
      
      width: 300px;
      height: 200px;
      padding: 3%;
      left: 30px;
    }

    .rightimage {
      width: 300px;
      height: 450px;
      padding: 3%;
      right: 30px;
    }

    
    .certificate-img {
      width: 600px;
      height: 300px;
      padding: 3%;
      align-items: center;
    }

    .medal-img {
      width: 300px;
      height: 400px;
      display: flex;
      align-items: cneter;
      margin: 0 auto;
    }

    .zhenghua-img {
      width: 500px;
      height: 350px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .woodgrove-img {
      width: 500px;
      height: 300px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    
    .np-img {
      width: 500px;
      height: 300px;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }    

    .sectionleft {
      display: flex;
      font-family: 'Mukta', sans-serif;
      color: black;
      margin: 0 auto;
      text-align: left;
      align-items: center;
      }
    
    .sectionright {
      font-family: 'Mukta', sans-serif;
      color: black;
      margin: 0 auto;
      text-align: right;
      align-items: center;
      }

    .split{
      display: flex;
      position: relative;
      flex-basis: 46%;
      flex-direction: row;
      padding: 2%;
      align-items: center;  
    }

    p {
      font-family: 'Mukta', sans-serif;
      text-align: center;
      font-size: 17pt;
      width: 100%;
      margin: 0 auto;
      color: black;
      padding: 3%;
    }   
    }
  }